---
import BasicLayout from "../../layouts/default.astro";
import ArticleTitle from "../../components/ArticleTitle.astro";
import SectionTitle from "../../components/SectionTitle.astro";
---

<BasicLayout>
    <section class="py-5">
        <header class="py-10">
            <ArticleTitle title="Etica para Ciencia de Datos y Estadistica" />
        </header>
    </section>
</BasicLayout>
