---
import BasicLayout from "../../layouts/default.astro";
import ArticleTitle from "../../components/ArticleTitle.astro";
import SubMenu from "../../components/SubMenu.astro";
import SectionTitle from "../../components/SectionTitle.astro";

import { checkAuth } from "../../util/util.ts";
const token = Astro.cookies.get("token");
if (!(await checkAuth(Astro.url.origin, token?.value))) {
    return Astro.redirect("/login");
}
---

<BasicLayout>
    <header class="py-10">
        <ArticleTitle title="Matematicas Discretas" />
    </header>
    <section class="px-5">
        <header class="py-4">
            <SectionTitle title="Interrogaciones, Tareas y Proyectos" />
        </header>
        <ul class="space-y-1">
            <li>
                <SubMenu title="Interrogaciones">
                    <SubMenu
                        title="2023-2"
                        items={[
                            {
                                name: "I1",
                                code: "/IIC1253/2023_2/I1.pdf",
                                black: true,
                            },
                            {
                                name: "I2",
                                code: "/IIC1253/2023_2/I2.pdf",
                                black: true,
                            },
                            {
                                name: "E1",
                                code: "/IIC1253/2023_2/E1.pdf",
                                black: true,
                            },
                        ]}
                    />
                </SubMenu>
                <li>
                    <SubMenu title="Tareas">
                        <SubMenu
                            title="2023-2"
                            items={[
                                {
                                    name: "T1",
                                    code: "/IIC1253/2023_2/T1.pdf",
                                    black: true,
                                },
                                {
                                    name: "T2",
                                    code: "/IIC1253/2023_2/T2.pdf",
                                    black: true,
                                },
                                ,
                                {
                                    name: "T3",
                                    code: "/IIC1253/2023_2/T3.pdf",
                                    black: true,
                                },
                                ,
                                {
                                    name: "T4",
                                    code: "/IIC1253/2023_2/T4.pdf",
                                    black: true,
                                },
                                ,
                                {
                                    name: "T5",
                                    code: "/IIC1253/2023_2/T5.pdf",
                                    black: true,
                                },
                                ,
                                {
                                    name: "T6",
                                    code: "/IIC1253/2023_2/T6.pdf",
                                    black: true,
                                },
                            ]}
                        />
                    </SubMenu>
                </li>
            </li>
        </ul>
        <section class="py-5 px-5">
            <header class="py-4">
                <SectionTitle title="Material Util" />
            </header>
        </section>
    </section>
</BasicLayout>
