---
import BasicLayout from "../../layouts/default.astro";
import ArticleTitle from "../../components/ArticleTitle.astro";
import SectionTitle from "../../components/SectionTitle.astro";

import { checkAuth } from "../../util/util.ts";
const token = Astro.cookies.get("token");
if (!(await checkAuth(Astro.url.origin, token?.value))) {
    return Astro.redirect("/login");
}

const repos = [
    {
        year: "2023-2",
        href: "https://github.com/Utmite/imt2200-2023.git",
    },
    {
        year: "2022-2",
        href: "https://github.com/paguirre-uc/imt2200.git",
    },
];
---

<BasicLayout>
    <section class="py-5">
        <header class="py-10">
            <ArticleTitle title="Introducción a Ciencia de Datos" />
        </header>
        <article class="px-5">
            <section class="pb-5">
                <SectionTitle title="Repositorios años anteriores">
                    <p class="text-lg text-slate-800 font-normal">
                        Los repositorios tienen las Interrogaciones, Tareas y
                        Actividades
                    </p>
                </SectionTitle>
            </section>
            <div class="overflow-x-auto rounded-lg border border-gray-200">
                <table
                    class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm"
                >
                    <thead>
                        <tr>
                            <th class="text-gray-900 py-2 text-left px-4"
                                >Año</th
                            >
                            <th class="text-gray-900 py-2 text-left px-4"
                                >Link</th
                            >
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        {
                            repos.map((item) => (
                                <tr>
                                    <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                        {item.year}
                                    </td>
                                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                                        <a href={item.href} target="_blank">
                                            {item.href}
                                        </a>
                                    </td>
                                </tr>
                            ))
                        }
                    </tbody>
                </table>
            </div>
        </article>
        <article class="px-5 py-5">
            <section class="pb-5">
                <SectionTitle title="Material Util" />
            </section>
        </article>
    </section>
</BasicLayout>
