---
import BasicLayout from "../../layouts/default.astro";
import SubMenu from "../../components/SubMenu.astro";
import ArticleTitle from "../../components/ArticleTitle.astro";
import SectionTitle from "../../components/SectionTitle.astro";

import { checkAuth } from "../../util/util.ts";
const token = Astro.cookies.get("token");
if (!(await checkAuth(Astro.url.origin, token?.value))) {
    return Astro.redirect("/login");
}
---

<BasicLayout>
    <header class="py-10">
        <ArticleTitle title="Ãlgebra Lineal para Ciencia de Datos" />
    </header>
    <section class="px-5">
        <header class="py-4">
            <SectionTitle title="Interrogaciones, Tareas y Proyectos" />
        </header>
        <ul class="space-y-1">
            <li>
                <SubMenu title="Interrogaciones">
                    <SubMenu
                        title="2023-2"
                        items={[
                            {
                                name: "I1",
                                code: "/IMT2210/2023_2/I1.pdf",
                                black: true,
                            },
                            {
                                name: "I2 (No existe Pauta)",
                                code: "/IMT2210/2023_2/I2.pdf",
                                black: true,
                            },
                            {
                                name: "E1",
                                code: "/IMT2210/2023_2/E1.pdf",
                                black: true,
                            },
                        ]}
                    />
                    <SubMenu
                        title="2022-2"
                        items={[
                            {
                                name: "I1 (No existe pauta)",
                                code: "/IMT2210/2022_2/I1.pdf",
                                black: true,
                            },
                            {
                                name: "I2",
                                code: "/IMT2210/2022_2/I2.pdf",
                                black: true,
                            },
                        ]}
                    />
                </SubMenu>
            </li>
            <li>
                <SubMenu title="Tareas y Proyectos">
                    <SubMenu
                        title="2023-2"
                        items={[
                            {
                                name: "T1",
                                code: "/IMT2210/2023_2/T1.pdf",
                                black: true,
                            },
                            {
                                name: "T2",
                                code: "/IMT2210/2023_2/T2.pdf",
                                black: true,
                            },
                            {
                                name: "P1 (Nota 7)",
                                code: "https://github.com/Utmite/imt2210-proyecto-01-2023.git",
                                black: true,
                            },
                        ]}
                    />
                </SubMenu>
            </li>
        </ul>
    </section>
    <section class="py-5 px-5">
        <header class="py-4">
            <SectionTitle title="Material Util" />
        </header>
    </section>
</BasicLayout>
