---
import BasicLayout from "../../layouts/default.astro";
import ArticleTitle from "../../components/ArticleTitle.astro";
import SectionTitle from "../../components/SectionTitle.astro";

import { checkAuth } from "../../util/util.ts";
const token = Astro.cookies.get("token");
if (!(await checkAuth(Astro.url.origin, token?.value))) {
    return Astro.redirect("/login");
}
---

<BasicLayout>
    <article class="py-5">
        <header class="py-10">
            <ArticleTitle title="Calculo I" />
        </header>
        <section class="px-6">
            <SectionTitle title="Material Util" />
            <ul class="py-5">
                <li class="flex items-center">
                    <span
                        class="flex-shrink-0 h-3 w-3 bg-green-600 rounded-full"
                    ></span>
                    <a
                        class="px-2 font-medium underline-offset-2 underline"
                        target="_blank"
                        href="https://www.labmat.puc.cl/"
                    >
                        Todas las pruebas de años anteriores (LABMAT)
                    </a>
                </li>
                <li class="flex items-center">
                    <span
                        class="flex-shrink-0 h-3 w-3 bg-green-600 rounded-full"
                    ></span>
                    <a
                        class="px-2 font-medium underline-offset-2 underline"
                        target="_blank"
                        href="https://www.academia.edu/41922167/Early_TranscEndEnTals_EighTh_EdiTion"
                    >
                        Libro del curso (Si te aprendes los CAP 2,3,4,5,6,7
                        pasas calculo I)
                    </a>
                </li>
            </ul>
        </section>
    </article>
</BasicLayout>
