---
import BasicLayout from "../layouts/Default.astro";
import ArticleTitle from "../components/ArticleTitle.astro";
import UploadForm from "../components/svelte/upload/UploadForm.svelte";
import { ViewTransitions, slide } from "astro:transitions";
---

<BasicLayout>
    <section class="flex justify-center items-center py-5">
        <ViewTransitions />
        <div class="w-full bg-white rounded p-6 space-y-4">
            <div class="mb-4" transition:animate={slide({ duration: 475 })}>
                <ArticleTitle title="Lab-LICD Auth" />
            </div>
            <UploadForm client:visible />
        </div>
    </section>
</BasicLayout>
