---
import HomeIcon from "./icons/GoHome.astro";
import LogoutSvelte from "./Logout.svelte";
---

<div class="fixed flex gap-3 left-0 bottom-0 m-2 h-10 w-full my-5 z-50">
    <div class="h-14 w-14 z-50">
        <a href="/"> <HomeIcon /></a>
    </div>
    <div class="z-50">
        <LogoutSvelte client:visible />
    </div>
</div>
