---
import { ViewTransitions } from "astro:transitions";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="description"
            content="LAB-LICD es una plataforma diseñada para recopilar todos los apuntes relacionados con la Licenciatura en Ingeniería en Ciencia de Datos, incluyendo interrogaciones, proyectos, tareas y cualquier material que sea valioso para los estudiantes y el proceso de aprendizaje. Se trata de un proyecto de código abierto que fue creado en el año 2023. La misión de esta plataforma es buscar el bienestar de la comunidad de la Licenciatura en Ingeniería en Ciencia de Datos, proporcionando un espacio centralizado para acceder y compartir recursos educativos de manera eficiente."
        />
        <meta name="og:title" content="LAB-LICD" />
        <meta
            name="og:description"
            content="LAB-LICD es una plataforma diseñada para recopilar todos los apuntes relacionados con la Licenciatura en Ingeniería en Ciencia de Datos, incluyendo interrogaciones, proyectos, tareas y cualquier material que sea valioso para los estudiantes y el proceso de aprendizaje. Se trata de un proyecto de código abierto que fue creado en el año 2023. La misión de esta plataforma es buscar el bienestar de la comunidad de la Licenciatura en Ingeniería en Ciencia de Datos, proporcionando un espacio centralizado para acceder y compartir recursos educativos de manera eficiente."
        />
        <meta name="og:image" content="/logo.webp" />
        <title>Lab Licd</title>
        <ViewTransitions />
    </head>
    <body class="px-5">
        <slot />
    </body>
</html>
